<h2 class="title">
    Über diese Webseite
</h2>

<p class="title">
    Diese Webseite ist ein Schulprojekt von mir. Wir haben während der "Corona Ferien" aufgaben von der Schule bekommen, die wir während der Quarantäne bewältigen sollen. In dem Fach Gemeinschaftskunde bekamen wir aufgaben in der wir über mehrere Tage Politische Themen und Ansichten sammeln sollen, und diese dann in eine gestaltete Form bringen sollen. Da ich mich gerade Privat mit der Programmierung von Back- und Frontend Apps beschäftige sah ich dies, als eine gute Möglichkeit mein Wissen zu erweitern und diese Seite zu erschaffen.
</p>

<h2 class="title">
    Danke an
</h2>

<p class="title">
    meinen Fachlehrer der mir die Erlaubnis gegeben hat diese Webseite zu erstellen. Sowie Danke an alle Menschen die mir Feedback und Verbesserungsvorschläge gemacht haben.</p>


    <h2 class="title">
        Technische Daten
    </h2>
    
    <p class="title">
        Das Backend der Seite wurde in Node.js also Javascript programmiert. Das Frontend wurde in HTML, CSS und Javascript geschrieben. Das Ganze wird auf meinem Privaten Server gehostet und am Laufen gehalten. Die (SSL)/(httpS) Verschlüsselung und das Zertifikat kommen von <a href="https://letsencrypt.org/de">letsencrypt.org</a> . Meine Webseite ist verschlüsselt und damit sicherer als die meiner Schule ^^. Sollte jemand das interesse haben sich den Programm Code dieses Projektes einmal etwas genau unter der Lupe anschauen zu wollen dann könnt ihr gerne mal auf meinem <a href="https://github.com/DustinDEV2more/GK-School-Projekt">Github</a> vorbei schauen
    </p>

    <h2 class="title">
        Datenschutz
    </h2>
    
    <p class="title">
        Ich habe keine Ahnung wie man eine Datenschutz Erklärung schreibt bzw. ob ich diese für ein privates Projekt wie dieses überhaupt benötige, aber ich denke es reicht aus wen ich sage das keine Informationen von euch gespeichert oder verarbeitet werden    
    </p>

    <h2 class="title">
        Kontakt
    </h2>
    
    <p class="title">
        Sollte es nötig sein kann man mich unter der folgenden Email Adresse erreichen: <a href="mailto:Dustin@Dustin-DM.de">Dustin@Dustin-DM.de</a>
    </p>