@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {font-family: 'Montserrat', sans-serif;}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #fbc531;
}
.innerheader {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo {
    margin-left: 6px;
    height: 100%;
    display: table;
    float: left;
}

.logo h1{
    color: #2f3640;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 800px;
}

.logo h1 span{
   font-weight: 200px;
}


.navbar {
    color: #fbc531;
}

.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #fbc531 0%, #fffb02 100%);
}
.innerfooter {
    display: block;
    margin-left: 5px;
    width: 100%;
    align-items: center;
}

.news_headerrrr {
    width: 100%;
    max-width: 98rem;
    margin-left: 1px;
    margin-right: 1px;
    padding: 20px; 
    background-color: #fff;
    /* box-shadow: 0  1.4rem 8rem rgba(0, 0, 0, .2); */
    align-items: center;
    border-radius: .8rem;
   
}
.news_img {
    width: 250px;
    /* position: relative; */
}

.news_img img {
    width: 100%;
    object-fit: cover;
    display: block;
    border: block;
    border-radius: .8rem;
}

.news_cta {
    text-decoration: none;
    background-image: linear-gradient(to right, #fbc531 0%, #fffb02 100%);
    padding: 10px;
    border: block;
    border-radius: 10px;
    color: #2f3640
}
.news_cta:hover {
    background-image: linear-gradient(to right, #7bfb31 0%, #02ff41 100%);
    text-decoration: none;
}